@import "caption";
@import "magnifier";

h4{
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  #latest{
    min-height: 363px;
  }
}

.blogs{
  .blog{
    height: 200px;
    overflow: hidden;
  }
}
