<ul class="list-unstyled">
  <li>{{format-date this.args.pic.picDate}}</li>
  {{#if this.args.pic.camera}}
    <li>{{this.args.pic.camera}}</li>
  {{/if}}
  {{#if this.args.pic.fInfo}}
    <li>{{this.args.pic.fInfo}}</li>
  {{/if}}
  {{#if this.args.pic.location}}
    <li>{{this.args.pic.location}}</li>
  {{/if}}
</ul>
